
.container1 .box{
  height: 653px;
  width: 100%;
  background-image: url(images/story.jpeg);
  background-size: cover;
}

.container1 h3{
  position: relative;
  color: #fff;
  text-align: right;
}
.box .fline{
  padding-top: 130px;
  padding-right: 764px;
  margin: 0px;
}
.box .sline{
  padding-top: 0px;
  padding-right: 1063px;
}
.storycontent {
  padding-top: 50px;
  height: 1000px;
  background-image: linear-gradient(#000 );
  padding-left: 20%;
  padding-right: 20%;
  line-height: 40px;
}
.storycontent h4 a{
  padding-left: 0px;
  text-decoration: none;
  color: #000;
}
a:hover{
  color: #F55959;
  font-size: 29px;
}
.currentstory{
  color: #F55959;
}
@keyframes example {
  0%{top: 0px; bottom: 1px;}
  20%{bottom:1px;}
  50%{bottom:1px;}
  75%{bottom:1px;}
  100%{bottom:1px;}
}
.arrow{
  height:32px;
  width: 32px;
  padding-left: 1440px;
  padding-top: 340px;
  animation-name: example;
  animation-duration: 4s;
}
